*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #F5D391;
}

h1{
    margin-top: 2%;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 300%;
}

/* .board {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.board > img {
    width: 70%;
} */

/* .board img{
    width: 50%;
    margin-top: 3%;
    margin-left: 25%;
    margin-right: 25%;
    position: absolute;
} */


.circlesContainer{
    border: 2px solid red;
    position: absolute;
    width: 60%;
    height: 66%;
    margin-top: 3%;
    margin-left: 30%;
    align-self:center;

justify-content: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.circlesContainer > img{
    /* position: left; */
    /* margin: 0 !important; */
    z-index: 1;
    width: 10%;
}

.circlesContainer img {
    margin: 0;
}

.circleElement{
    margin: 5px;
    z-index: 1;
    width: 13%;
    height: 13%;
}