*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #F5D391;
    text-align: center;
}

.flex-container{
display: flex;
}

h1{
    margin-top: 2%;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 300%;
}

.board {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.board > img {
    width: 80%;
    height: 80%;
    margin-top: 0%;

}


.circlesContainer{
    border: 2px solid red;
    position: absolute;
    width: 50%;
    align-self:center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.circlesContainer > img{
    /* position: left; */
    /* margin: 0 !important; */
    z-index: 1;
    width: 10%;
}

.circlesContainer img {
    margin: 0;
}

.circleElement{
    margin: 3px;
    z-index: 1;
    width: 12%;
    height: 13%;
}

.button{
    background-color: #EAD1D1;
    color: black;
    font-size: 150%;
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; */
    margin: 0 auto;

    border: 2px solid black;
    border-radius: 20px;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 1%;
    padding-bottom: 1%;
}


.gameStatusBox{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: right;
    width: 200px;
    height: 200px;
    border: 2px solid black;
    
}